@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand-blue: #1A438F;
    --color-brand-orange: #FF8C6A;
    --color-brand-yellow: #FFD700;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  html {
    overflow-x: hidden;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
